@import '../../../assets/sass/index.scss';

.hcard-row {
  .card-item-label {
    color: $dark-blue;
    display: inline-block;
    font-size: 12px;
    width: 70px;
    text-transform: uppercase;

    &.hide {
      display: none;
    }
  }

  .card-item-value {
    padding-left: 10px;
  }

  a {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
}