// COLORS
$dark-blue: #34495e;
$gray: #bdc5c8;

$light-gray-color: #e1e4e7;
$dark-gray-color: #627b8b;

$secondary-button-color: #627b8b;
$primary-button-color: #3498db;

// Using on breakpoint as example. Based on https://v4-alpha.getbootstrap.com/layout/overview/. 
$break-point-max-witdh: 767px;
